<app-navbar></app-navbar>
<div class="header-card d-flex flex-column">
  <div class="topo-card d-flex justify-content-center">
    <div class="header d-flex flex-column align-items-center">
      <h1>BOLINHA</h1>
      <div class="infos d-flex flex-column align-items-start">
        <h6>Espécie:  Canino</h6>
        <h6>Raça: Beagle</h6>
        <h6>Cor: Branco</h6>
        <h6>Sexo: Macho</h6>
        <h6>Idade: 5anos</h6>
        <h6>Particularidades:</h6>
      </div>
    </div>
    <div class="identificacoes d-flex flex-column align-items-center">
      <img src="../../../../assets/img/fotocao.png" alt="" class="foto-animal">
      <h5>Microchip: 19112356899</h5>
      <img src="../../../../assets/img/qrcode.png" alt="" class="qrcode">
    </div>
  </div>
  <div class="particularidades d-flex flex-column align-items-start">
    <h6>Possui uma cicatriz na pata esquerda e também uma mancha cinza na ponta do rabo.</h6>
  </div>
  <div class="transferencia d-flex flex-column align-items-center">
    <hr><br>
    <button class="transferencia-btn btn btn-primary" type="button">Comunicar Encontro do Animal</button>
    <h3>Dados de Encontro enviados ao Tutor do Animal</h3>
    <p>É necessário possuir uma conta e estar logado para comunicar o encontro do animal</p>
    <a href="/cadastro"><p>Não possui uma conta? Cadastre-se aqui!</p></a>
  </div>

</div>
