<div class="body-animal-page d-flex flex-wrap">
  <app-user-navbar class="nav-menu"></app-user-navbar>
  <div class="header-card d-flex flex-column">
    <div class="topo-card d-flex justify-content-center">
      <div class="header d-flex flex-column align-items-center">
        <h1>BOLINHA</h1>
        <div class="infos d-flex flex-column align-items-start">
          <h6>Espécie:  Canino</h6>
          <h6>Raça: Beagle</h6>
          <h6>Cor: Branco</h6>
          <h6>Sexo: Macho</h6>
          <h6>Idade: 5anos</h6>
          <h6>Particularidades:</h6>
        </div>
      </div>
      <div class="identificacoes d-flex flex-column align-items-center">
        <img src="../../../../assets/img/fotocao.png" alt="" class="foto-animal">
        <h5>Microchip: 19112356899</h5>
        <img src="../../../../assets/img/qrcode.png" alt="" class="qrcode">
      </div>
    </div>
    <div class="particularidades d-flex flex-column align-items-start">
      <h6>Possui uma cicatriz na pata esquerda e também uma mancha cinza na ponta do rabo.</h6>
    </div>
    <div class="resgate d-flex flex-column align-items-center">
      <hr><br>
      <h2>DADOS DE RESGATE</h2>
        <div class="dados-resgate d-flex flex-column align-items-start">
          <h6>Estado do animal no resgate: Atropelado</h6>
          <h6>Rua do Resgate: Av das Camélias, 56</h6>
          <h6>Bairro do Resgate: Jd Cupuaçu</h6>
          <h6>Cidade do Resgate: São Paulo</h6>
          <h6>Estado do Resgate: SP</h6>
        </div>
    </div>
    <div class="vacinas d-flex flex-column align-items-center">
      <hr><br>
      <h2>HISTÓRICO DE VACINAS</h2>
        <div class="card-vacina d-flex justify-content-start">
          <div class="dados-vacina">
            <h6>Data da Aplicação: 20/01/2023</h6>
            <h6>Vacina: V8</h6>
            <h6>Marca: Zoetis</h6>
            <h6>Data de Reforço: 20/01/2024</h6>
          </div>
          <div class="excluir d-flex align-items-center justify-content-end">
            <h2><i class="fa-regular fa-trash-can" style="color: #9d1e15;"></i></h2>
          </div>
        </div>
    </div>
  </div>
</div>
