<div class="body-animal-page d-flex flex-wrap">
  <app-user-navbar class="nav-menu"></app-user-navbar>
  <div class="header-card d-flex flex-column">
    <div class="topo-card d-flex justify-content-center">
      <div class="header d-flex flex-column align-items-center">
        <h1>BOLINHA</h1>
        <div class="infos d-flex flex-column align-items-start">
          <h6>Espécie:  Canino</h6>
          <h6>Raça: Beagle</h6>
          <h6>Cor: Branco</h6>
          <h6>Sexo: Macho</h6>
          <h6>Idade: 5anos</h6>
        </div>
      </div>
      <div class="identificacoes d-flex flex-column align-items-center">
        <img src="../../../../assets/img/fotocao.png" alt="" class="foto-animal">
        <h5>Microchip: 19112356899</h5>
        <img src="../../../../assets/img/qrcode.png" alt="" class="qrcode">
      </div>
    </div>
    <div class="d-flex flex-column">
      <hr>
    </div>
  </div>
</div>
