<div class="body-animais d-flex flex-wrap">
  <app-user-navbar class="nav-menu"></app-user-navbar>
  <div class="cadastro-animal d-flex flex-column align-items-center justify-content-center flex-wrap">
    <app-topo-page></app-topo-page>
    <form action="post" class="cadastro-user d-flex flex-column justify-content-evenly align-items-center flex-wrap">
      <div class="radios d-flex flex-wrap">
        <h6>Espécie: </h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Canina
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Felina
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Outro
          </label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="outraEspecie" placeholder="oustraEspecie">
          <label for="outraEspecie">Especifique</label>
        </div>
      </div>
      <div class="inputs d-flex justify-content-evenly flex-wrap">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nomeAnimal" placeholder="Nome do Animal">
          <label for="nomeAnimal">Nome do Animal</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="raca" placeholder="racaAnimal">
          <label for="racaAnimal">Raça</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="microchipAnimal" placeholder="microchipAnimal">
          <label for="cpf">Microchip</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="corAnimal" placeholder="corAnimal">
          <label for="cnpj">Cor do Animal</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="anoAnimal" placeholder="anoAnimal">
          <label for="telefone">Ano de Nascimento</label>
        </div>
      </div>
      <div class="radios d-flex flex-wrap">
        <h6>Sexo: </h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Fêmea
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Macho
          </label>
        </div>
      </div>
      <div class="form-particularidades d-flex justify-content-evenly">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Particularidades</label>
          <textarea class="particularidades form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Ex: Animal possui uma mancha preta na pata direita"></textarea>
        </div>
      </div>
      <div class="form-foto mb-3 d-flex flex-column justify-content-evenly">
        <label for="formFile" class="form-label">Foto</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="radios d-flex flex-wrap">
        <h6>Animal Resgatado? </h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
    </form>
    <form action="post" class="cadastro-user d-flex flex-column justify-content-evenly flex-wrap">
      <div class="inputs d-flex justify-content-evenly flex-wrap">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="dataResgate" placeholder="Data de Resgate">
          <label for="dataResgate">Data de Resgate</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="ruaResgate" placeholder="Rua do Resgate">
          <label for="ruaResgate">Rua do Resgate</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="numeroResgate" placeholder="Número">
          <label for="numeroResgate">Número</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="bairroResgate" placeholder="Bairro">
          <label for="bairroResgate">Bairro</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="cidadeResgate" placeholder="Cidade">
          <label for="cidadeResgate">Cidade</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="estadoResgate" placeholder="Estado">
          <label for="estadoResgate">Estado</label>
        </div>
      </div>
      <div class="radios d-flex flex-wrap">
        <h6>Animal estava doente? </h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Não
          </label>
        </div>
      </div>
      <div class="form-particularidades d-flex justify-content-evenly">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Detalhes do Resgate</label>
          <textarea class="particularidades form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Ex: Animal sofreu um atropelamento"></textarea>
        </div>
      </div>
    </form>
    <button class="btn btn-primary" type="button">Cadastrar</button>

  </div>
</div>
