<div class="body">
  <div class="head-menu d-flex justify-content-center align-items-center">
    <img src="../../../assets/img/logo.png" class="imgLogo" alt="">
    <h1>MENU</h1>
  </div>
  <div class="itens-menu d-flex flex-column align-items-start">
    <a href="/user" class="item-menu d-flex flex-row">
      <h5><i class="fa-solid fa-paw" style="color: #4a4a4a;"></i> Meus Animais</h5>
    </a>
    <a href="/user" class="item-menu d-flex flex-row">
      <h5><i class="fa-solid fa-plus" style="color: #4a4a4a;"></i> Novo Animal</h5>
    </a>
    <a href="/user" class="item-menu d-flex flex-row">
      <h5><i class="fa-solid fa-people-roof" style="color: #4a4a4a;"></i> Adotados</h5>
    </a>
    <a href="/user" class="item-menu d-flex flex-row">
      <h5><i class="fa-solid fa-magnifying-glass-location" style="color: #4a4a4a;"></i> Perdidos</h5>
    </a>
    <a href="/user" class="item-menu d-flex flex-row">
      <h5><i class="fa-solid fa-map-location-dot" style="color: #4a4a4a;"></i> Achados</h5>
    </a>
    <a href="/" class="item-menu d-flex flex-row">
      <h5><i class="fa-solid fa-arrow-right-from-bracket" style="color: #4a4a4a;"></i> Sair</h5>
    </a>
  </div>
</div>
