<div class="body-animais d-flex flex-wrap">
  <app-user-navbar class="nav-menu"></app-user-navbar>
  <div class="animais d-flex flex-column align-items-center">
    <app-topo-page></app-topo-page>
    <h4>COMUNICAR PERDA</h4>
    <div class="cards d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="animal-card">
          <h1><i class="fa-solid fa-dog"></i></h1>
          <div class="card-content">
            <h5>Bolinha</h5>
            <h6>900121552355</h6>
          </div>
          <button class="btn btn-primary" type="button">Comunicar Perda</button>
      </div>
    </div>
    <h4>ANIMAIS PERDIDOS</h4>
    <div class="cards d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="animal-card">
        <div class="topo-card d-flex">
          <h1><i class="fa-solid fa-dog"></i></h1>
          <div class="card-content">
            <h5>Bolinha</h5>
            <h6>900121552355</h6>
            <h6>Encontrado por: Ana Costa</h6>
            <h6>Telefone: 1132568997</h6>
            <h6>Endereço: Rua das Orquídeas</h6>
            <h6>Bairro: Jd das Hortências</h6>
            <h6>São Paulo - SP</h6>
            <h6>Data do encontro: 21/03/2022</h6>
          </div>
        </div>
          <button class="btn-encontro btn btn-primary" type="button">Finalizar Comunicado de Perda</button>
      </div>
    </div>
  </div>
</div>
