* {
  font-family: 'Nunito', sans-serif;
  color: #5C5C5C;
  text-decoration: none;
}

.nav-menu {
  min-width:30%;
  background-color: #b0e8e4;
}

.cadastro-animal {
  max-width: 70%;
  padding-top: 40px;
}
