<div class="body-animais d-flex flex-wrap">
  <app-user-navbar class="nav-menu"></app-user-navbar>
  <div class="animais d-flex flex-column align-items-center">
    <app-topo-page></app-topo-page>
    <h4>ANIMAIS CADASTRADOS</h4>
    <div class="cards d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="animal-card">
          <h1><i class="fa-solid fa-dog"></i></h1>
          <div class="card-content">
            <h5>Bolinha</h5>
            <h6>900121552355</h6>
          </div>
      </div>
      <div class="animal-card">
        <h1><i class="fa-solid fa-cat"></i></h1>
        <div class="card-content">
          <h5>Miu</h5>
          <h6>900121552356</h6>
        </div>
      </div>
    </div>
    <h4>ANIMAIS ADOTADOS</h4>
    <div class="cards d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="animal-card-adopt">
          <h1><i class="fa-solid fa-dog"></i></h1>
          <div class="card-content">
            <h5>Pitico</h5>
            <h6>900121551322</h6>
          </div>
      </div>
    </div>
    <h4>ANIMAIS DEVOLVIDOS</h4>
    <div class="cards d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="animal-card-devolution">
        <h1><i class="fa-solid fa-cat"></i></h1>
        <div class="card-content">
          <h5>Tom</h5>
          <h6>900121554487</h6>
        </div>
      </div>
    </div>
  </div>
</div>
