<div class="body-animais d-flex">
  <app-user-navbar class="nav-menu"></app-user-navbar>
  <div class="animais d-flex flex-column align-items-center">
    <app-topo-page></app-topo-page>
    <h4>ADOÇÕES</h4>
    <div class="cards d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="animal-card-adopt">
          <h1><i class="fa-solid fa-dog"></i></h1>
          <div class="card-content">
            <h5>Pitico</h5>
            <h6>Nova Tutora: Maria Da Silva</h6>
            <h6>Telefone: 1132568997</h6>
            <h6>Endereço: Rua das Orquídeas, Jd. São Luiz</h6>
            <h6>São Paulo - SP</h6>
            <h6>Data da Adoção: 21/03/2022</h6>
          </div>
      </div>
      <div class="animal-card-adopt">
        <h1><i class="fa-solid fa-dog"></i></h1>
        <div class="card-content">
          <h5>Pitico</h5>
          <h6>Nova Tutora: Maria Da Silva</h6>
          <h6>Telefone: 1132568997</h6>
          <h6>Endereço: Rua das Orquídeas, Jd. São Luiz</h6>
          <h6>São Paulo - SP</h6>
          <h6>Data da Adoção: 21/03/2022</h6>
        </div>
    </div>
    </div>
  </div>
</div>

