.sobre {
  margin: 50px 20px;
  font-family: 'Nunito', sans-serif;
}

.accordion {
  margin-top: 20px;
}

.accordion-button {
  background-color: rgb(216, 240, 240);
  color: #424242;
  font-weight: bold;
}

.accordion-item {
  max-width: 500px;
}

.contato {
  font-family: 'Nunito', sans-serif;
  padding: 20px 0;
  background-color: #c0c0c0;
  color: #424242;
}

.dev {
  margin: 20px;
}

.contato .dev p{
  margin-top: 5px;
  font-size: x-small;
  margin-bottom: 0;
}

.contatos p {
  text-align: center;
}

.icons a {
  margin-left: 5px;
}
