<div class="topo d-flex flex-wrap justify-content-evenly">
  <div class="texto-topo d-flex flex-column align-items-csenters justify-content-center">
    <h4>Mantenha seu animal identificado e registrado, garantindo sua proteção de forma inteligente</h4>
    <p>O IdentificaCão fornece de forma inteligente uma forma de registro completo de seu animal à partir do número de seu microchip, permitindo inserir informações de vacinas, vermifugação e até de consultas veterinárias que seu animalzinho tenha.</p>
  </div>
  <div class="imagem-topo d-flex">
    <img class="img-topo" src="../../../../assets/img/caogato.png" alt="">
  </div>
</div>

<div class="meio d-flex flex-wrap justify-content-evenly">
  <div class="imagem-meio d-flex">
    <img class="img-topo" src="../../../../assets/img/img-meio.png" alt="">
  </div>
  <div class="texto-meio d-flex flex-column align-items-csenters justify-content-center">
    <h4 class="align-self-center">Realize a transferência de guarda com tranquilidade</h4>
    <p>Aqui é possível também, realizar a transferência da guarda de um animal em uma caso de adoção, mantendo as iformações da adoção dele disponíveis ao tutor inicial.</p>
  </div>
</div>
<div class="topo d-flex flex-wrap justify-content-evenly">
  <div class="texto-topo d-flex flex-column justify-content-center">
    <h4>Informe a perda de seu animal e aumente as chances de encontrá-lo</h4>
    <p>O IdentificaCão fornece QRCode de identificação ao registrar um animal e permite informar casos de perda de um animal, enquanto fornece um sistema de busca por características, microchip ou QRCode do animal, para pessoas que encontrem um animal perdido.</p>
  </div>
  <div class="imagem-topo d-flex">
    <img class="img-topo" src="../../../../assets/img/localiza.png" alt="">
  </div>
</div>


